form , p
{
background-color: lightpink;
width: 100%;
height: max-content;
color: darkblue;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
font-weight: bold;
padding: 20px;
border-radius: 10px;
}

button
{
    padding: 5px;
    background-color: brown;
    color: white;
    size: 12px;
    border-radius: 5px;
    font-weight: bold;
}

input, select
{
    padding: 7px;
    background-color: white;
    color: brown;
    border-radius: 5px;
    font-weight: bold;
}

h1
{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

body
{
    background-image: url(bg.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

div
{
    display: flex;
    justify-content: center;
}